<ul class="home-button-list clearfix">
  <% composite_trips.each do |ct| %>
    <li>
      <%= block_link_to composite_trip_path(ct), { class: 'important' } do %>
        <h2><%= ct.name %></h2>
        <p>Seien Sie bei einer Etappe dieses mehrwöchigen Törns dabei</p>
      <% end %>
    </li>
  <% end %>
  <li>
    <%= block_link_to boats_path do %>
      <h2>Schiffscharter</h2>
      <p>Segeln Sie selbst auf unseren Schiffen, wohin Sie möchten</p>
    <% end %>
  </li>
  <li>
    <%= block_link_to trips_path do %>
      <h2>Kojencharter</h2>
      <p>Seien Sie Gast auf einem unserer Segeltörns</p>
    <% end %>
  </li>
</ul>
