<ul id="home-button-list" class="block-button-list clearfix">
  <li>
    <%= link_to boats_path do %>
      <span>
        <h2>Schiffscharter</h2>
        <p>Segeln Sie selbst auf unseren Schiffen, wohin Sie möchten</p>
      </span>
    <% end %>
  </li>
  <li>
    <%= link_to trips_path do %>
      <span>
        <h2>Kojencharter</h2>
        <p>Seien Sie Gast auf einem unserer Segeltörns</p>
      </span>
    <% end %>
  </li>
</ul>
