<ul class="home-button-list clearfix">
  <% composite_trips.each do |ct| %>
    <li>
      <%= block_link_to composite_trip_path(ct), { class: 'important' } do %>
        <h2><%= ct.name %></h2>
        <p>Seien Sie bei einer Etappe dieses mehrwöchigen Törns dabei</p>
      <% end %>
    </li>
  <% end %>
  <li>
    <%= block_link_to "blog", target: '_blank' do %>
      <h2>Blog</h2>
      <p>Verfolgen Sie das aktuelle Törngeschehen.</p>
    <% end %>
  </li>
</ul>
