<% provide(:title, @page.title) %>
<div class="static_page">
  <h1>Segeln auf der Ostsee mit Palve-Charter</h1>
  <%= render partial: 'buttons', locals: { composite_trips: @composite_trips } %>
  <% if @page.heading %>
    <h2><%= @page.heading %></h2>
  <% end %>
  <%= render partial: 'text_and_paragraphs', locals: { page: @page } %>
</div>