<div id="trip-dates">
  <h2>Termine</h2>
  <% if trip_dates.any? %>
    <p>Dieser Törn ist an folgenden Terminen verfügbar:</p>
    <%= render partial: 'shared/trip_dates_table',
      locals: { trip_dates: trip_dates } %>
  <% else %>
    <p>Für diesen Törn sind keine Termine festgelegt.</p>
  <% end %>
</div>