<li>
  <%= block_link_to partner.url, class: " clearfix" do %>    
    <div class="index-image">
      <% if partner.image %>
        <%= image_tag(partner.image.thumb('120x120').url,
          alt: partner.image.title) %>
      <% end %>
    </div>
    <div class="index-data">
      <h2><%= partner.name %></h2>
      <p>(<%= partner.url %>)</p>
    </div>
  <% end %>
</li>