<h1>Palve-Blog</h1>
<div class="blog-categories">
  <h2>Andere Rubriken</h2>
  <% if @other_categories.any? %>
    <ul class="blog-category-list">
      <% @other_categories.each do |c| %>
        <li><%= link_to c.name, blog_category_path(c) %></li>
      <% end %>    
    </ul>
  <% else %>
    keine anderen Rubriken verfügbar
  <% end %>
</div>
<div class='current-category'>
  <h2><%= @current_category.name %></h2>
  <%= render partial: 'blog_entries', locals: { entries: @current_entries } %>
</div>