<h1>Allgemeine Anfrage</h1>
<p>
  Um eine Buchungsanfrage für ein Schiff zu stellen oder uns eine allgemeine Anfrage zukommen zu lassen, füllen Sie bitte das Formular unten aus.
</p>
<p class="important">
  Um eine Buchungsanfrage für einen Törn oder ein Schiff zu stellen, 
  benutzen Sie bitte die Buchungs-Links auf der konkreten Törn- bzw. Schiffsseite.
</p>
<%= render partial: 'form', locals: { inquiry: @inquiry } %>