@import 'blog_entries';

.blog-categories {
  width: 20%;
  float: left;
  margin-right: 4em;
  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
    }
  }
}

.current-category {
  float: left;
  width: 65%;
  h3 {
    margin-bottom: 0;
  }
  .blog-entries {
    ul.blog-entry-list {
      padding-left: 0;
      li {
        border-bottom: 1px solid black;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}