.blog-categories {
  width: 20%;
  float: left;
  margin-right: 4em;
  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
    }
  }
}

.current-category {
  float: left;
  width: 65%;
  h3 {
    margin-bottom: 0;
  }
  .blog-entry-images {
    font-size: 75%;
    font-style: italic;
    text-align: center;
    .blog-entry-image {
      padding-bottom: 3px;
      margin: 0 3px 3px 3px;
      float: left;
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid black;
      }
    }
  }
}