// Place all the styles related to the Boats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index

ul.boat-list {
  li {
    width: 48%;
    float: left;
    margin-right: 1em;
    &:nth-child(odd) {
      clear: both;
    }
    a {
      min-height: 125px;
    }
    .boat-data {
      float: left;
      max-width: 270px;
      table {
        font-size: 90%;
        margin-top: 0.5em;
        margin-bottom: 0;
        td {
          padding: 0 0.5em 0 0;
        }
      }
    }
  }
}

ol.calendar-list {
  list-style: none;
  padding-left: 0;
  li {
    float: left;
    margin-right: 1em;
    padding-left: 0;
    &:nth-child(3n + 1) {
      clear: both;
    }
  }
}

ul.port-list {
  margin: 0 0.5em 0 0;
  padding: 0;
}


// show page

#image-gallery {
  margin-bottom: 2em;
  font-size: 75%;
  font-style: italic;
  text-align: center;
  .title-image {
    float: left;
    margin-right: 2em;
    img {
      display: block;
      border: 1px solid black;
    }
  }
  .image-list {
    float: left;
    width: 400px;
    margin-top: 0;
    .other-image {
      padding-bottom: 3px;
      margin: 0 3px 3px 3px;
      float: left;
      img {
        display: block;        
        margin-left: auto;
        margin-right: auto;
        border: 1px solid black;
      }
    }    
  }
}

#boat-technical-data {
  h2 {
    margin-top: 0;
  }
  table {
    font-size: 90%;  
    td {
      &.col-1 {
        text-align: left;
      }
      &.col-2 {
        text-align: right;
      }
    }
  }
}

#boat-trips {
  h2 {
    margin-top: 0;
  }
}

#boat-charter {
  margin-bottom: 2em;
  h2 {
    margin-top: 0;
  }
  table {
    border-collapse: collapse;
    font-size: 90%;
    th {
      font-weight: bold;      
      padding-right: 0.5em;
    }
    td {
      padding-right: 0.5em;
    }

    &#boat-prices {
      th {
        border-bottom: 1px solid black;
        &.boat-price-type-heading {
          text-align: right;
        }
        &.season-heading {
          text-align: left;        
          border-right: 1px solid black;
        }
      }
      td {
        &.season-col {
          font-weight: bold;
          text-align: left;
          border-right: 1px solid black;
        }
        &.boat-price-col {
          text-align: right;
        }
      }
    }

    &#accessory-charges {
      th {
        text-align: left;
      }
      td {
        text-align: right;
      }
    }
  }
}

#boat-documents {
  ul {
    list-style: none;
  }
}
