// Place all the styles related to the Boats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index

ul.boat-list {    
  li {
    .boat-data {
      float: left;
      table {
        font-size: 90%;
        margin-top: 0.5em;
        margin-bottom: 0;
        td {
          padding: 0 0.5em 0 0;
        }
      }
    }
  }
}


// show page

#image-gallery {
  margin-bottom: 2em;
  font-size: 75%;
  font-style: italic;
  text-align: center;
  .title-image {
    float: left;
    margin-right: 2em;
    img {
      display: block;
      border: 1px solid black;
    }
  }
  .image-list {
    float: left;
    width: 400px;
    margin-top: 0;
    .other-image {
      padding-bottom: 3px;
      margin: 0 3px 3px 3px;
      float: left;
      img {
        display: block;        
        margin-left: auto;
        margin-right: auto;
        border: 1px solid black;
      }
    }    
  }
}

#boat-technical-data {
  width: 400px;
  h2 {
    margin-top: 0;
  }
  table {
    font-size: 90%;  
    td {
      &.col-1 {
        text-align: left;
      }
      &.col-2 {
        text-align: right;
      }
    }
  }
}

#boat-trips {
  width: 400px;
  h2 {
    margin-top: 0;
  }
  ul.boat-trips-list {
    li {
      h3 {
        margin-top: 0;
      }
      img {
        margin-right: 1em;
      }
      a {
        padding: 0.5em;
      }
    }
  }
}

#boat-charter {
  margin-bottom: 2em;
  h2 {
    margin-top: 0;
  }
  table {
    border-collapse: collapse;
    font-size: 90%;
    th {
      font-weight: bold;      
      border-bottom: 1px solid black;
      padding-right: 0.5em;
      &.boat-price-type-heading {
        text-align: left;
        border-right: 1px solid black;
      }
      &.season-heading {
        text-align: right;
      }
    }
    td {
      padding-right: 0.5em;
      &.boat-price-type-col {
        font-weight: bold;
        text-align: left;
        border-right: 1px solid black;
      }
      &.boat-price-col {
        text-align: right;
      }
    }
  }
}