// Place all the styles related to the Boats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index

ul#boat-list {  
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    border: 1px solid black;
    margin-bottom: 1em;
    img {
      float: left;
      margin-right: 2em;
    }
    .boat-data {
      h2, p {
        margin: 0;
      }
      table {
        font-size: 90%;
        margin-top: 0.5em;
        td {
          padding-right: 0.5em;
        }
      }
    }
    a {
      text-decoration: none;
      display: block;
      color: black;
      padding: 1em;
      &:hover {
        background-color: #eeeeff;
      }    
    }
  }
}


// show page

#image-gallery {
  float: left;
  width: 400px;
  margin-right: 2em;
  margin-bottom: 2em;
  font-size: 80%;
  font-style: italic;
  text-align: center;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .image-list {
    margin-top: 2em;
    .other-image {
      float: left;
      margin-right: 1.5em;
      margin-bottom: 1.5em;
      width: 180px;
    }    
  }
}

#boat-technical-data {
  table {
    td {
      &.col-1 {
        text-align: left;
      }
      &.col-2 {
        text-align: right;
      }
    }
  }
}
