ol.calendar-list {
  list-style: none;
  padding-left: 0;
  li {
    float: left;
    margin: 1em 1em 1em 0;
    &:nth-child(3n + 1) {
      clear: both;
    }
  }
}

.calendar-selection-item {
  margin: 0.5em 0;
  span {
    border-left: 2em solid;
    margin: 0 0.5em;
  }
}