ul.index-list {
  li.index-list-item-composite-trip {
    a {
      div.index-data {
        ul {
          margin: 0;
          padding: 0;
          li {
            margin: 0;
          }
        }
      }
    }
  }
}