// Farben für ganze Seite
$c_bg: #eeeeff;

// Farben für Navigation
$c_nav_bg: #4444aa;
$c_nav_text: white;

// Farben für Blocklinks
$c_block_link_border: grey;
$c_block_link_bg: #e9e9ff;
$c_block_link_bg_hover: #ddddff;

// Runde Ecken
@mixin round-edges {
  $radius: 10px;

  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -khtml-border-radius: $radius;
}

// GLOBALE EINSTELLUNGEN

html {
  font: normal 100.01% Helvetica, Arial, sans-serif;
  color: black;
  background-color: $c_bg;
}

body {
  background-color: white;    
  margin: 0 auto; 
  width: 900px;
}

// kein Rahmen um verlinkte Bilder im IE
a {
  img {
    border: none;
  }
}


// KOPF- UND FUSSZEILE

footer {
  img {
    float: right;
  }
  clear: left;
  padding: 1em 0 0 0;
}

header {
}


// NAVIGATION

// Formatierung
#nav-frame {
  border: 1px solid black;
  background-color: $c_nav_bg
}

nav {
  ul {
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      list-style: none;
      ul {        
        margin: 0;
        padding: 0;
        border: 1px solid black;
      }
    }
  }
  a {
    display: block;
    width: 8em;
    color: white;
    background-color: $c_nav_bg;
    text-decoration: none;
    &:hover {
      background-color: white;
      color: $c_nav_bg;      
    }  
  }
}

// Dynamik
nav ul {
  li {
    float: left;
    position: relative;    
    ul {
      display: none;
      position: absolute;      
      li {        
        float: none;
        display: block;
      }
    }
    &:hover ul {
      display: block;
    }
  }
}


// HELFER

// clearfix
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

ul.block-list {
  margin: 0;
  padding: 0;
  li {
    list-style: none;  
  }
}

a.block-link {  
  @include round-edges;
  border: 1px solid $c_block_link_border;
  background-color: $c_block_link_bg;
  text-decoration: none;
  display: block;
  color: black;
  padding: 1em;
  h1, h2, h3 {
    margin: 0;
  }
  p {
    margin: 0;
    text-align: left;
  }
  &:hover {
    background-color: $c_block_link_bg_hover;
  }  
}

// SPALTENLAYOUTS
.twocol {
  .twocol-col1 {
    float: left;
    margin-right: 2em;
  }
  .twocol-col2 {
    float: left;
  }
}

.w400 {
  width: 400px;
}

.m420 {
  margin-left: 420px;
}

// INDEXE
ul.index-list {
  li {
    margin-bottom: 1em;
    img {
      float: left;
      border: 1px solid grey;
      margin-right: 2em;
    }
  }
}

// SEITENINHALT

#content {
  padding: 0 1em;
  //border: 1px dashed grey;
}


// Statische Seiten

.static_page {
  text-align: justify;
  img {
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  
  .paragraph_wrapper {
    h2, p {
      clear: left;
    }
  }
}