$navigation_width: 15em;

#page {
  margin: 0 auto;
  width: 900px;
  border: 1px dashed grey;
}

#navigation {
  float: left;
  width: $navigation_width;
  border: 1px solid black;
  
  li {
    list-style: none;
    margin: 0;
  }
}

#content {
  margin-left: $navigation_width;
  padding: 0 1em;
  border: 1px dashed grey;
}

.static_page {
  text-align: justify;
  img {
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  
  .paragraph_wrapper {
    h2, p {
      clear: left;
    }
  }
}

header, footer {
  clear: left;
  text-align: center;
  padding: 1em 0;
  border: 1px dashed grey;
}