// Farben für Navigation
$c_nav_bg: #4444aa;
$c_nav_text: white;

// Breite der Leistenelemente
nav ul>li {
  &#start       { width: 10% }
  &#boats       { width: 10% }
  &#trips       { width: 10% }
  &#captains    { width: 10% }
  &#conditions  { width: 20% }
  &#inquiry     { width: 10% }
  &#partners    { width: 18% }
  &#imprint     { width: 12% }
}

// Formatierung
#nav-frame {
  border: 1px solid black;
  background-color: $c_nav_bg
}

nav {
  ul {
    margin: 0;
    padding: 0;
    text-align: center;
    a {
      display: block;
      color: white;
      background-color: $c_nav_bg;
      text-decoration: none;
      &:hover {
        background-color: white;
        color: $c_nav_bg;      
      }  
    }    
    >li {
      float: left;
      list-style: none;
      ul {        
        margin: 0;
        padding: 0;
        border: 1px solid black;
        background-color: $c_nav_bg;
        >li {          
          text-align: left;
          border-top: 1px solid #6666cc;
          #border-bottom: 1px solid white;
          ul {
            left: 14.9em;
            top: -2px;
            #border: 1px solid red;
          }
          a {
            padding: 0.2em 0.5em 0.2em 0.5em;
            &:after { 
              position: absolute;
              right: 5px;
              // small right arrow
              width: 0px; 
              height: 0px; 
              border-bottom: 8px solid transparent; 
              border-top: 8px solid transparent; 
              border-left: 8px solid #6666cc; 
              font-size: 0px;
              line-height: 0px;
              content: "";
            }
            // no arrow if there is no ul child and therefore no submenu
            &:only-child:after {
              border: none;
            }
          }
        }
        &.menu-port-list >li {
          width: 15em;
          ul.menu-boat-list >li {
            width: 20em;
          }          
        }
        &.menu-trip-list >li {
          width: 20em;
        }
      }
    }
  }
}

// Dynamik
nav ul {
  z-index: 100;
  >li {
    position: relative;    
    >ul {
      display: none;
      position: absolute;
      z-index: 200;
      >li {
        float: none;
        display: block;
        >ul {
          z-index: 300;
        }
      }
    }
    &:hover >ul {
      display: block;
    }
  }
}