// Statische Seiten

.static_page {
  text-align: justify;
  img {
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  
  .paragraph_wrapper {
    h2, p {
      clear: left;
    }
  }
}

// Home page buttons
ul.home-button-list {
  margin: 0;
  padding: 0;
  li {
    margin-right: 1em;
    float: left;
    width: 200px;
  }
}