// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Home page buttons
ul#home-button-list {
  li {
    margin-right: 1em;
    float: left;
    width: 200px;
    text-align: left;
  }
}