// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul.trip-list {
  li {
    a {
      min-height: 120px;    
      div.trip-image {
        float: left;
        width: 120px;
        min-height: 1px;
        margin-right: 2em;          
        img {
          display: block;
          float: none;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

#trip-dates {
  table {
    font-size: 90%;
    text-align: left;
    td, th {
      padding: 0.5em 1em 0 0.5em;
    }
  }
}

.trip-description {
  text-align: justify;
}