<% if boat.available_for_boat_charter %>
  <div id="boat-charter">
    <h2>Schiffscharter</h2>
    <p>Sie können dieses Schiff zu folgenden Preisen chartern:</p>
    <table>
      <tr>
        <th class="season-heading">Saison</th>
        <% boat_price_types.each do |t| %>
          <th class="boat-price-type-heading"><%= t.name %></th>
        <% end %>
      </tr>
      <% seasons.each do |s| %>
        <tr>
          <td class="season-col"><%= s.name %></td>
          <% boat_price_types.each do |t| %>
            <td class="boat-price-col">
              <% price = boat.prices(s, t) %>
              <%= price ? number_to_currency(price.value) : "-" %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>