<% provide(:title, "Schiffe") %>
<h1>Schiffscharter</h1>
<p>Sie können folgende Schiffe bei uns chartern:</p>
<ul class="index-list port-list">
  <%= render @own_ports %>
  <%= render @external_ports %>
</ul>