<% provide(:title, "Schiffe") %>
<h1>Schiffscharter</h1>
<p><%= link_to "Buchungskalender ansehen", boat_calendar_path %></p>
<p>Sie können folgende Schiffe bei uns chartern:</p>
<ul class="port-list">
  <%= render @own_ports %>
  <%= render @external_ports %>
</ul>