<div class="paragraph">
  <% if paragraph.heading %>
    <h2><%= paragraph.heading %></h2>
  <% end %>
  <p>
    <%= image_tag(paragraph.picture.thumb('200x200').url) if paragraph.picture %>
    <%= paragraph.text %>
  </p>
</div>