<div class="paragraph">
  <h2><%= paragraph.heading if paragraph.heading %></h2>
  <p>
    <%= image_tag(paragraph.picture.thumb('200x200').url) if paragraph.picture %>
    <%= paragraph.text %>
  </p>
</div>